#helloName {
 color: black;
 font-size: 64px;
 font-weight: 700;
 word-wrap: break-word;
}

#challengeDiv {
 width: 100%;
 box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
 border-radius: 20px;
 background-color: #AFC8A2;
 height: 250px;
}

#challenge {
 width: 40%;
 float: left;
 margin: 25px;
 border-radius: 20px;
 background-color: #b1b1b1;
 height: 200px;
 cursor: pointer;
}

#challengeName {
 font-size: 24px;
 color: #000;
 text-align: left;
}

#challengeDescription {
 margin-left: 20px;
 font-size: 20px;
 color: white;
 text-align: left, top;
}

.circle-container {
 display: flex;
 margin-top: 20px;
}

.circle {
 border-radius: 50%;
 display: inline-block;
 margin: 20px;
}

.black-circle {
 width: 200px;
 height: 200px;
 background-color: black;
}

.grey-circle {
 width: 100px;
 height: 100px;
 background-color: grey;
 margin-top: 70px;
}
.challengeBox {
 width: 40%;
 float: left;
 border-radius: 15px;
 background-color: #1D3953;
 height: 80%;
}

.overlay {
 position: absolute;
 bottom: -150px;
 width: 100px;
 height: 100px;
 background-color: grey;
 border-radius: 50%;
 display: flex;
 justify-content: center;
 align-items: center;
}

.circle-text {
 color: white;
 font-size: 16px;
 font-weight: bold;
}
.maybeGame {
 border-radius: 100px;
 background-color: #467068;
}

.challenge-text {
    color: white;
}