.calendar {
 width: 100%; /* Full width of the viewport [amaiya chnaged to width of div bc it was stretching the view] */
 max-width: 90%; /* Prevent horizontal overflow */
 border-collapse: collapse;
 margin-top: 10px;
 background-color: #ffffff;
 box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 border-radius: 16px;
 overflow: hidden; /* Ensures the contents stay within rounded corners */
}

.day {
 background-color: black;
 color: white;
 padding: 10px;
 font-weight: bold;
 text-align: center;
 font-size: 1.2rem;
}

.incomplete {
 color: rgb(0, 0, 0);
 padding: 10px;
 font-weight: bold;
 text-align: center;
 font-size: 1.2rem;
}

.completed {
 background-color: #AFC8A2;
 color: white;
 padding: 10px;
 font-weight: bold;
 text-align: center;
 font-size: 1.2rem;
}

.calendar td {
 width: 14.28%; /* Each day takes 1/7 of the total width */
 aspect-ratio: 1; /* Ensures square cells */
 text-align: center;
 vertical-align: middle;
 border: 1px solid #dee2e6;
 font-size: 1rem;
 color: #495057;
}



.content {
 border-radius: 8px;
 padding: 16px;
 width: 100%;
 margin-bottom: 20px;
 margin-left: 60px;
}

.info {
 margin-left: 30px;
}

.name {
    font-size: 50px;
}

.cal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}