.App {
 text-align: center;
}
.nav-link {
 color: rgb(33, 33, 33);
 text-decoration: none;
 font-size: small;
 padding: 5px;
}

.nav-link:hover {
 color: rgb(129, 67, 253);
}

.sidebar {
 height: 100vh;
 top: 0px;
 background-color: rgb(222, 252, 242);
 width: 20%;
 min-width: fit-content;
 position: sticky;
}
.wd-flex-row-container {
 display: flex;
 flex-direction: row;
}

.btnx {
 border-radius: 40%;
 background-color: #d1d1d1;
 font-weight: 700;
 padding: 8px 16px;
 border-radius: 16px;
 cursor: pointer;
 border: none;
}

.btnx-d {
 border-radius: 40%;
 background-color: #000;
 font-weight: 700;
 padding: 8px 16px;
 border-radius: 16px;
 cursor: pointer;
 border: none;
}

.mainheader {
 margin: auto;
 font-size: 54px;
 font-weight: bold;
}

.input-screen {
 position: absolute;
 background-color: #d9d9d9;
 min-height: 100vh;
 width: 100vw;
 text-align: center;
}
.input-card {
 background-color: #fff;
 margin: auto;
 border-radius: 20px;
 width: 350px;
 height: fit-content;
 align-items: center;
 justify-content: center;
}
.delete-btn:hover {
 background-color: #9a3838;
}
.modal-overlay {
 position: relative;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background-color: rgba(0, 0, 0, 0.8);
 display: flex;
 align-items: center;
 justify-content: center;
 z-index: 1000;
}
.modal-content {
 position: relative;
 background-color: white;
 padding: 20px;
 border-radius: 8px;
 box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
 max-width: 90%;
 max-height: 90%;
 overflow: auto;
}
.modal-card {
 width: fit-content;
}
.del-screen {
 background-color: #000000;
 color: #fff;
 height: 100vh;
 width: 100%;
 text-align: center;
}
.wide {
 width: 95%;
}
.nav-header {
 background-color: #fff;
 width: 100vw;
 justify-content: center;
 z-index: 900;
}
.app-logo {
 width: 230px;
 margin: auto;
}
